$heading: "Alfa Slab One", cursive;
$body: "Georama", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $body;
}
.main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 10vh 1fr 1fr;
  padding: 2em;
  grid-template-areas:
    "heading"
    "sketchpad"
    "controls";
  @media screen and (min-width: 769px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 1fr;
    grid-template-areas:
      "heading heading heading"
      "controls sketchpad sketchpad";
  }
}
.heading {
  grid-area: heading;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: $heading;
    font-size: 3em;
    @media screen and (min-width: 769px) {
      font-size: 5em;
    }
  }
}
.sketchpad {
  grid-area: sketchpad;
  border: 2px solid black;
  box-shadow: 0 0 5px 1px black;
  display: grid;
  width: 600px;
  height: 600px;
}
.controls {
  grid-area: controls;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .rangeInputDiv,
  .colorInputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      padding-top: 1em;
    }
  }
  .colorInput {
    border-radius: 50%;
  }
  input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
  }
  input[type="color"]::-webkit-color-swatch {
    border: 2px solid black;
    border-radius: 50%;
  }
  .rangeInput {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #b9f8e9; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
    border-radius: 1em;
    input[type="range"]::-moz-range-progress {
      background-color: #32fbcc;
    }
    &:hover {
      opacity: 1;
      --thumb-transform: scale(1.2);
      cursor: pointer;
    }
    .rangeInput::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 40px; /* Set a specific slider handle width */
      height: 40px; /* Slider handle height */
      background: #04aa6d; /* Green background */
    }

    .rangeInput::-moz-range-thumb {
      width: 40px; /* Set a specific slider handle width */
      height: 40px; /* Slider handle height */
      background: #04aa6d; /* Green background */
    }
  }
}
