$heading: "Alfa Slab One", cursive;
$body: "Georama", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $body;
}
.main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 10vh 1fr 1fr;
  padding: 2em;
  grid-template-areas:
    "heading"
    "sketchpad"
    "controls";
  @media screen and (min-width: 769px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 1fr;
    grid-template-areas:
      "heading sketchpad sketchpad"
      "controls sketchpad sketchpad";
  }
}
.heading {
  grid-area: heading;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: $heading;
    font-size: 3em;
  }
}
.sketchpad {
  grid-area: sketchpad;
  border: none;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.432);
  display: grid;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.controls {
  padding-top: 1em;
  grid-area: controls;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  label {
    font-size: 1.2em;
  }
  .mouse {
    font-size: 1em;
    padding-bottom: 1em;
    display: flex;
    @media screen and (min-width: 769px) {
      display: none;
    }
  }
  .reset {
    background-color: white;
    border: none;
    transition: all 0.2s;
    i {
      cursor: pointer;
      font-size: 3em;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  .rangeInputDiv,
  .colorInputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      padding-top: 1em;
    }
  }
  .colorInput {
    border-radius: 50%;

    //box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.432);
  }
  input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
  .rangeInput {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #9dfce6; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: all 0.2s;
    border-radius: 1em;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
      cursor: pointer;
    }
    .rangeInput::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 40px; /* Set a specific slider handle width */
      height: 40px; /* Slider handle height */
      background-color: #04aa6d; /* Green background */
      opacity: 1;
      &:hover {
        width: 100px;
        height: 100px;
      }
    }

    .rangeInput::-moz-range-thumb {
      width: 40px; /* Set a specific slider handle width */
      height: 40px; /* Slider handle height */
      background: #04aa6d; /* Green background */
      opacity: 1;
    }
  }
  .radioBtn {
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      transform: scale(1.4);
    }
  }
}
